<div class="row">
    <h4>
      <div class="col s0.5">
        <i class="material-icons">library_books</i>
      </div>
      <div class="col s5">Plan de Estudios(<span>{{datos.codPlanEstudios}}</span>)</div>
      <div class="col s3"><span>{{datos.numAsignaturas}}</span> Asignaturas</div>
      <div class="col s3"><span>{{datos.totalUV}}</span> UV</div>
    </h4>
</div>

<div class="row grey lighten-3">
  <div class="col s4 center"><span class="col s2"><strong>Código</strong></span><span class="badge">UV</span>Asignatura</div>
  <div class="col s4 center"><span class="col s2"><strong>Código</strong></span><span class="badge">UV</span>Asignatura</div>
  <div class="col s4 center"><span class="col s2"><strong>Código</strong></span><span class="badge">UV</span>Asignatura</div>
</div>

<app-asignatures ></app-asignatures>
